.nav {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top */
  border-bottom: 1px solid #0505050f;
}

.logo-container {
  display: flex;
  align-items: center;
  background-color: white; /* Add white background */
  padding: 10px 2rem; /* Optional: Add some padding for better appearance */
}

.logo-container img {
  max-height: 50px; /* Adjust the maximum height as needed */
  max-width: 120px; /* Adjust the maximum width as needed */
  width: auto; /* Ensure the aspect ratio is maintained */
  height: auto; /* Ensure the aspect ratio is maintained */
  object-fit: contain; /* Ensure the image fits within the box */
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 2rem;
}

.nav li {
  margin: 0 0.5rem;
  font-size: 14px;
}

.nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  padding-bottom: 1rem;
}

.active-nav {
  color: #4096ff !important;
  border-bottom: 1px solid #4096ff;
  text-decoration: none;
}

.nav a:not(.active-nav):not(.logout):hover {
  border-bottom: 1px solid #4096ff;
}

.logout:hover {
  color: #ff4d4f;
  border-bottom: 1px solid #ff4d4f;
}

@media (max-width: 480px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  ul {
    width: 100%;
    margin-top: 1rem;
  }

  li {
    width: 100%;
    text-align: left;
  }

  a {
    margin: 0.2rem 0;
    width: 100%;
  }
}
