.register-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.register-modal {
  padding: 32px;
  margin: 20px 0;
  border-radius: 15px;
  border: 1px;
  border-color: black;
  max-width: 90vw;
  width: 26rem;
  background-color: white;
}

.register-form-button {
  width: 100%;
}

.register-form-login-now {
  margin-top: 10px;
}
