.button {
  margin-top: 30px;
}

.close-button {
  font-size: 24px;
  cursor: pointer;
  margin-left:400px;
}

.scheduler-overlay {
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 180px;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scheduler-content {
  border-radius: 20px;
  background-color: white;
  width: 500px;
  padding-top: 40px;
  padding-bottom: 60px;
  border: 2px solid lightgrey;
  text-align: center;
}

.search,.time {
  margin-top: 40px;
}
